.option-bar {
  padding: 1.2em 1em;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  margin-top: 1em;
  -webkit-box-shadow: -1px 14px 33px -7px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -1px 14px 33px -7px rgba(0, 0, 0, 0.47);
  box-shadow: -1px 14px 33px -7px rgba(0, 0, 0, 0.47);
}

.option-button {
  border: none;
}

.option-button:hover {
  color: hsl(220, 98%, 61%);
  background-color: transparent;
}
