.optionbar {
  padding: 1.2em 1em;
  display: flex;
  justify-content: space-between;
  color: hsl(234, 39%, 85%);
  background-color: hsl(233, 14%, 35%);
  border-radius: 8px;
  margin-top: 1.5em;
}

.optionbutton {
  color: hsl(234, 39%, 85%);
  background-color: hsl(233, 14%, 35%);
  border: none;
}

.optionbutton:hover {
  color: lightblue;
  background-color: transparent;
}
