.todoitem {
  display: flex;
  align-items: center;
  color: white;
  background-color: hsl(233, 14%, 35%);
  padding: 1em;
  border-top: 1px solid hsl(234, 39%, 85%);
}

li:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: none;
}
