.todolist {
  padding: 3em;
}

.itemdisplay {
  display: flex;
  justify-content: space-between;
  color: hsl(234, 39%, 85%);
  background-color: hsl(233, 14%, 35%);
  padding: 1.2em 1em;
  border-top: 1px solid hsl(234, 39%, 85%);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.clearcompletedbtn {
  color: hsl(234, 39%, 85%);
  background-color: hsl(233, 14%, 35%);
  border: none;
}

.clearcompletedbtn:hover {
  color: white;
  background-color: transparent;
}
