.checkbutton {
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(234, 39%, 85%);
  background: transparent;
  border-radius: 50em;
  margin-right: 1em;
  cursor: pointer;
}

.checkbutton:focus {
  outline: none;
}

.checkbutton:hover {
  background-color: hsl(234, 39%, 85%);
  color: hsl(207, 13%, 34%);
}
