.checkbutton {
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid red;
  border-radius: 50em;
  margin-right: 1em;
  cursor: pointer;
}

.checkbutton:focus {
  outline: none;
}
