.clear-all-btn {
  padding: 1em;
  border-radius: 8px;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 9px 17px -10px rgba(0, 0, 0, 0.45);
}

.clear-all-btn:hover {
  color: #ef476f;
}
