.deletebutton {
  width: 1.5em;
  height: 1.5em;
  border: none;
  background-color: transparent;
  background: url('./x-button.svg');
  background-repeat: no-repeat;
  opacity: 0.5;
  margin-left: auto;
}

.deletebutton:hover {
  background-color: transparent;
  color: hsl(207, 13%, 34%);
}
