.toggle-theme-button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.switch-to-dark-icon {
  background-image: url("./assets/icon-sun.svg");
}

.switch-to-light-icon {
  background-image: url("./assets/icon-moon.svg");
}
