.header {
  background-image: url(./assets/bg-mobile-light.jpg);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: transparent;
}

.nav__title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}


