header {
  /* background-image: url(./assets/bg-mobile-light.jpg); */
  background: linear-gradient(to right, hsl(235, 64%, 67%), hsl(280, 87%, 65%));
  padding: 1.5em;
  padding-bottom: 4em;
}

main {
  padding: 1.5em;
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
  bottom: 0;
}

.navwrapper,
.mainwrapper {
  max-width: 600px;
  margin: auto;
}

.nav {
  display: flex;
  background: transparent;
  justify-content: space-between;
  padding: 2em 0em;
}

.nav__title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.nav__togglethemebutton {
  border: none;
  background-color: transparent;
  background-image: url('./assets/sun-regular.svg');
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.dark-mode {
  background-color: black;
}